{% extends 'Mmucha1ExampleMenuBundle::base.html.twig' %}

{% block body -%}
    <h1>Menu list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Title</th>
                <th>Contents</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('frontend_menu_show', { 'slug': entity.slug }) }}">{{ entity.title }}</a></td>
                <td>{{ entity.contents | raw }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('menu_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('menu_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
